<header class="site-header">
  <div class="site-header__container">
    <div class="site-header__brand">
      <!--<span class="site-header__logo">🍳</span>-->
      <img src="assets/img/royalprestigelogovector.svg" alt="Culinaria Logo" class="site-header__logo" />
      <h1 class="site-header__title"><span>Precios</span></h1>
    </div>
    <nav class="site-header__nav">
      <a routerLink="/" routerLinkActive="site-header__link--active" [routerLinkActiveOptions]="{exact: true}" class="site-header__link">Catálogo</a>
      <a routerLink="/admin" routerLinkActive="site-header__link--active" class="site-header__link">Administrar</a>
    </nav>
  </div>
</header>
