<section class="ls-th">
  <div class="ls-th__shell">  
    <header class="ls__top">
      <div class="ls__brand">
        <img src="./assets/img/royalprestige.svg" alt="Royal Prestige" loading="lazy" 
          width="180"
          height="40" />
          <p class="ls__label_logo">DISTRIBUIDOR AUTORIZADO</p>
      </div>
    </header>

    <div class="ls-th__card">
      <div class="ls-th__icon">✓</div>
      <h1>¡Gracias por confiar en Royal Prestige!</h1>
      <p class="ls-th__lead">
        Recibimos tus datos.
      </p>
      <p class="ls-th__text">
        Un asesor certificado se comunicará contigo en las próximas 24 horas hábiles
        para resolver tus dudas y compartirte los detalles para entregarte tu regalo.
      </p>
<!--
      <div class="ls-th__actions">
        <a routerLink="/catalogo" class="ls-th__btn ls-th__btn--primary">
          Ver catálogo de productos
        </a>
        <a routerLink="/home" class="ls-th__btn ls-th__btn--secondary">
          Volver al inicio
        </a>
      </div> -->

      <img src="./assets/img/regalo.png" class="gif-img" alt="Royal Prestige" loading="lazy"/>
    </div>
  </div>
</section>